<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Semana07.Properties.Settings.neptunoConnectionString"
            connectionString="Data Source=DESKTOP-2FQERVV;Initial Catalog=neptuno;Persist Security Info=True;User ID=sa;Password=admin12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>